.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;

  padding: 6vw 0 0 0;
}

.grid_img img {
  max-width: 100%;
}

.slogan h1 {
  margin: 0 0;
  font-size: calc(1rem + 3.3vw);
  padding-top: 2vw;
  font-weight: bold;
}

.slogan1 p {
  color: rgb(104, 104, 104);
  margin: 0 0;
  padding-top: 1.6vw;
  font-size: calc(1rem + 0.5vw);
}

.button {
  width: 34vw;
  min-width: 215px;
  height: 45px;
}
