@font-face {
  font-family: CodecPro;
  src: url(./Common/Fonts/CodecPro.ttf);
}

.App {
  margin: 0 7vw;
  height: 100vh;
  font-family: CodecPro;
}

.content {
  min-height: 100vh;
}

a {
  text-decoration: none;
}